* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  width: 110vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-container {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.calculator {
  background: black;
  border-radius: 50px;
  color: white;
  height: 800px;
  width: 450px;
  padding: 20px;
}

.display {
  height: 250px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.previous-display {
  opacity: 0.5;
  font-size: 50px;
  overflow: hidden;
}

.buttons-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 45px;
  height: 80px;
  width: 90px;
  transition: all 0.3s ease-in-out;
}

.function {
  color: black;
  background: #a5a5a5;
}

.operator {
  background: #f1a33c;
}

.number-0 {
  border-radius: 55px;
  grid-column: span 2;
  justify-content: flex-start;
  padding-left: 40px;
  width: 215px;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.8);
}

.button:hover {
  opacity: 0.5;
}
.footer {
  width: 70px;
  height: 3px;
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
  left: 40%;
  border: 2px solid beige;
}